body{background:#fff;color:#3a475d;}
a, article h1, article h1 a{color:#3aaa4a}
section > h1{color:#485671;}
article, article h1 {
    border-color:#c4d5ff;
}
header, header h1, header a, footer, footer a {background:#65799e; color:#fff; text-shadow:-1px -1px #3d4c6e;}