
#contact{background:#eee;}
header, footer, #main{background:#ff9;}
#intro{background:purple;}
#intro:before{background:#488;}
#projects{background:red;}
#jobs{background:blue;}
#education{background:yellow;}

