body { font-family: sans-serif; margin: 0; padding: 0;}

a{text-decoration:none}
a:hover{text-decoration:underline}
h1{font-weight:normal;margin:0;padding:0;}
article{margin:1.5em 0;padding:2em 0;font-size:.8em;border-bottom:1px solid;}
article:last-child{border:none;}
article h1{font-weight:bold;padding-bottom:.5em;}
header h1 {white-space:nowrap;}
section > h1, header h1{ font: 3em 'Coustard', serif; -webkit-transition: font-size .2s;}

header, footer, #main{ margin:0 auto; max-width:66em; }
header { padding: 1em 2em }
footer { padding: 0 2em }
#main{padding:0 2em;-webkit-transition: padding .2s;}
#contact{list-style:none;-webkit-transition: margin .2s, padding .2s;}

section{ float:left; padding:1em; margin:1em; max-width:18em; }

footer { clear: both; }
ul#online{margin:0;padding:0;height:3em;line-height:1em;}
ul#online li{list-style:none;float:left;margin:0;padding:0;}
ul#online li a{padding:1em;margin:0;display:block;}
p {-webkit-transition: margin .2s;}
article, section {-webkit-transition: margin .2s, padding .2s;}
/*============
mobile
=============*/

/*@media screen and (max-width: 73em) {
    article, section{margin:0;padding-top:1em; padding-bottom:1em;-webkit-transition: margin .2s, padding .2s;}
    section {margin:0;}
}*/

@media screen and (max-width: 40em) {
    section > h1, header h1{ font-size: 1.6em; -webkit-transition: font-size .2s; }
    p { margin-bottom: 0.5em; -webkit-transition: margin .2s;}
    article, section{margin:0;padding-top:1em; padding-bottom:1em;-webkit-transition: margin .2s, padding .2s;}
    section {margin:0 1em;}
    footer { padding:0;}
    footer ul#online li{float:none}
}

@media screen and (max-width: 26em) {
	section > h1, header h1{ font-size: 1.6em; -webkit-transition: font-size .2s; }
	p { margin-bottom: 0.5em; }
	article, section{margin:0;padding:1em 0}
	section ul li { margin-left: 1em; }
	#contact { margin:0; padding:0;font-size:0.8em;-webkit-transition: margin .2s, padding .2s;}
	footer { padding:0;}
	footer ul#online li{float:none}
}

@media screen and (max-height: 36em) {
    section > h1, header h1{ font-size: 1.6em; -webkit-transition: font-size .2s; }
    p { margin-bottom: 0.5em; -webkit-transition: margin .2s;}
    article{margin:0;padding:1em 0}
    header h1{
        margin:0;
        padding:0;
    }
    #contact {
        position:absolute;
        top:0;
        margin:0;
        margin-left:23em;
        font-size:0.9em;
        padding:0.5em 1.5em;
        line-height:1em;
        height:2em;
    }
    header {
        padding:0 2em;-webkit-transition: padding .2s;
    }
    #contact li {
        margin-right:1em;
    }
}

@media screen and (max-width: 46em) and (max-height: 36em) {
    header{padding:0.5em 2em;-webkit-transition: padding .2s;}
    #contact {padding:0;position:static;margin:0;font-size:0.9em;}
    #contact li {margin-right:0;}
}