body { font-family: sans-serif; margin: 0; padding: 0;}

a{text-decoration:none}
a:hover{text-decoration:underline}
h1{font-weight:normal;margin:0;padding:0;}
article{margin:1.5em 0;padding:1em 0;font-size:.8em;}
article h1{font-weight:bold;}

section > h1, header h1{ font: 3em 'Coustard', serif; }

header, footer, #main{ margin:0 auto; max-width:66em; }
header { padding: 1em 2em }
footer { padding: 0 2em }
#main{padding:0 2em;}
#contact{list-style:none;}

section{ float:left; padding:1em; margin:1em; max-width:18em; }

footer { clear: both; }
ul#online{margin:0;padding:0;height:3em;line-height:1em;}
ul#online li{list-style:none;float:left;margin:0;padding:0;}
ul#online li a{padding:1em;margin:0;display:block;}


/*============
mobile
=============*/
@media screen and (max-width: 26em) {

	body {
		-webkit-text-size-adjust: none;
	}
	section > h1, header h1{ font-size: 2em }
	p { margin-bottom: 0.5em; }
	article, section{margin:0;padding:1em 0}
	section ul li { margin-left: 1em; }
	article h1 { margin-top: 1em; }
	#contact { margin:0; padding:0;font-size:0.8em;}
	footer { padding:0;}
	footer ul#online li{
		float:none;
	}
}
